<div class="text-center">
    <h1>Update Password</h1>
</div>

<form ng-submit="changepassword.resetPassword(loginData)">
    <label>Password :</label>
    <input class="form-control" name="password" type="password" placeholder="Enter new password" ng-model="changepassword.loginData.password">
    <br>

    <button type="submit" class="btn btn-rm-primary">Update Password</button>
</form>
<br>







<div class="row show-hide-message">
    <div class="alert alert-success" ng-show="changepassword.successMsg">
        <strong> Success! </strong> {{ changepassword.successMsg  }}
    </div>
</div>

<div class="row show-hide-message">
    <div class="alert alert-danger" ng-show="changepassword.errorMsg">
        <strong> Oops! </strong> {{ changepassword.errorMsg  }}
    </div>
</div>