<div>
    <h1 class="text-center">Reset Your Password</h1>
</div>

<form ng-submit="password.resetPassword(loginData)">
    <label>Email :</label>
    <input class="form-control" name="email" type="text" placeholder="Enter email" ng-model="password.loginData.email">
    <br>

    <button type="submit" class="btn btn-rm-primary">Reset Your Password</button>
</form>
<br>







<div class="row show-hide-message">
    <div class="alert alert-success" ng-show="password.successMsg">
        <strong> Success! </strong> {{ password.successMsg  }}
    </div>
</div>

<div class="row show-hide-message">
    <div class="alert alert-danger" ng-show="password.errorMsg">
        <strong> Oops! </strong> {{ password.errorMsg  }}
    </div>
</div>