<div class="text-center">
    <h1>
        Accepted Donation Request
    </h1>
</div>

<div class="row">
    <div class="col-sm-3 rm-card" ng-repeat="food in accepted.cook" style="padding: 1.6em;">
        <h2 class="text-light"> {{ food.name }} </h2>
        <p class="text-muted-rm"> {{food.city }}</p>
        <p class="text-muted-rm"> {{food.state }}</p>
        <p class="text-muted-rm"> {{food.postedby }}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 rm-card" ng-repeat="food in accepted.raw" style="padding: 1.6em;">
        <h2 class="text-light" style="margin-top: 0.1em;"> {{ food.name }} </h2>
        <p class="text-muted-rm" style="margin-bottom: 0px;"> City : {{food.city }}</p>
        <p class="text-muted-rm" style="margin-bottom: 0px;"> State : {{food.state }}</p>
        <p class="text-muted-rm" style="margin-bottom: 0px;">Posted By - {{food.postedby }}</p>
    </div>
</div>