
<div class="text-center" ng-show="cart.value > 0">
    <h1 >
        Cart
    </h1>
</div>

<br>
<div style="padding: 1em;">
    <div class="row" ng-show="cart.value > 0">
        <div class="col-sm-9 cart-items" style="padding: 0.6em;">
            <div ng-repeat="item in cart.cart" style="margin-top: 15px;">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="assets/images/fooditems/{{item.name}}.png" class="cart-items-img">
                    </div>
                    <div  class="col-sm-2">
                        <h2 class="text-light" style="margin-bottom: 0px;margin-top: 0px;"> {{item.name }}</h2>
                        <p class="text-muted-rm" style="margin-bottom: 0px;">Price : {{ item.price }}/- </p>
                        <p class="badge-rm" style="padding: 2vh;font-size: 2vh;margin-bottom: 0px;">{{item.tag}}</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-light" style="margin-top: 0px;margin-bottom: 0px;"><span class="dot"></span> In Stock</p>
                    </div>
                    <div class="col-sm-3">
                        <p class="text-light" style="margin-top: 0px;margin-bottom: 0px;"><b>Quantity</b></p>
                        <p class="bedge badge-rm" style="padding-left:0.8em;margin-top: 0px;">{{ item.count }} Item</p>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-rm-danger-solid" ng-click="cart.removeitem(item._id);">Discard  X</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Order Summary</div>
                <div class="panel-body">
                    Sub Total    :    ₹ {{  cart.value }}
                    <br>
                    Taxes    :    ₹ 2.75
                    <br>
                    <b>Total Cart Value : </b> ₹ {{  cart.value + 2.75 }}
                    <br>
                    <br>
                    <div ng-show="cart.option">
                        <b>Pay via</b> : {{ cart.option }}
                        <a href="/orderplaced">
                            <button class="btn btn-rm-primary">Finalize Order</button>
                        </a>
                    </div>
                    <div ng-show="!cart.option">
                        <button class="btn btn-rm-primary" data-toggle="modal" data-target="#myModal">Proceed to Checkout</button>
                    </div>

                    
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" style="margin-bottom: 0px;">Confirm Your Contribution:</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" value="Direct" ng-model="cart.option">Direct Contribution</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-core-primary" data-dismiss="modal" onclick="initiateRazorpayPayment(10275)">Complete Contribution</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="cart.value==0" class="text-center rm-card">
        <br>
        <br>
        <h1 class="rm-section-title">Your Basket is Empty</h1>
        <br>
        <br>
        <a href="/buydonate">
            <button class="btn btn-rm-primary">Fill Basket</button>
        </a>

    </div>
</div>
